body{
  background-image:url("background.png")
}
.main{
  padding:2%;
  padding-left:9%;
  margin:5% 20% 0% 23%;
  background-color:#a9c7d9;
  border-radius:10%;
  height:80%;
  overflow-y:auto;
  opacity:0.8;
}
h2{
  font-weight:200;
  font-family:sans-serif;
}
#list{
  align-items:left;
  height:50%;
  width:70%;
  max-height:80%;
  overflow-y:auto;
  word-wrap: break-word;
}
#msglist{
  font-family: Arial, Helvetica, sans-serif;
  font-weight:380;
  text-align:left;
}
#msgbox{
  width:80%;
  border-radius:4px;
  margin:2% 2%;
  padding:2% 2% ;
}
#frame{
  display:flex;
  overflow:visible;
}
#btn{
  height:32px;
  width:64px;
  border:none;
  background-color:#154ccf;
  color:#fff;
}
